* {
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.image {
    width: 102px;
}

.shadow {
    background-color: white;
    box-shadow: 5px 10px 8px #f8f8f8;
    border: none;
    padding: 4px;
}
.cardbloc {
    position: absolute;
    top: 65%;
    color: black;
    left: 4%;
}

.cardblock1 {
    position: absolute;
    top: 55%;
    color: black;
    left: 4%;
}

.small-star {
    color: #72bfbc;
    font-size: 10px;
}

.fa-search {
    margin-top: 11px;
    margin-left: 64px;
    position: absolute;
}

.search-bar input {
    padding: 10px;
    margin-top: 7px;
    border-radius: 2px;
    border: 1px solid #b5b4b3;
    margin-left: 22px;
}

.search-bar input:focus {
    outline: 3px solid #a9e6eb;
}

b {
    margin-left: 13px;
    font-size: 13px;
}

.home {
    font-size: 11px;
}

input[type="text"] {
    /* padding-left: 39px; */
    /* width: 500px; */
    /* margin-left: 50px; */
    background-color: #f2f4f7;
    border-radius: 3px;
    border: none;
    height: 40px;
}

.search-container {
    margin-top: 12px;
}

.fa-user {
    margin-left: 60px;
    margin-top: 15px;
    font-size: 16px;
}

.fa-heart {
    margin-left: 38px;
    margin-top: 15px;
    font-size: 16px;
}

.fa-bag-shopping {
    margin-top: 15px;
    margin-left: 43px;
    font-size: 16px;
}

.profile {
    color: black;
    font-size: 14px;
    margin-left: 45px;
}

.wishlist {
    color: black;
    font-size: 14px;
    margin-left: 24px;
}

.bag {
    color: black;
    font-size: 14px;
    margin-left: 32px;
}

.text {
    margin-left: 7px;
}

a {
    text-decoration: none;
    color: #282c3f;
}

.name {
    color: black;
    font-size: 15px;
}

.pdp-details {
    position: relative;
}

/* .image-grid-container {
    float: left;
    width: 58%;
} */
/* .image-grid-col {
    width: 49.5%;
    float: left;
    margin-bottom: 1%;
    position: relative;
} */
img.tshirt {
    padding-top: 20px;
    width: 414px;
}

.empty {
    width: 413px;
    border: 1px solid #f5f5f6;
    height: 575px;
}

.pdp-price-info {
    padding: 0 0 10px;
}

/* .pdp-description-container {
    position: absolute;
    margin-left: 58%;
    margin-top: 14px;
} */
h1.title {
    font-size: 25px;
    font-weight: 609;
}

.name1 {
    font-size: 20px;
    font-family: ui-rounded;
}

h1 {
    font-size: 17px;
}

.select-size {
    font-size: 17px;
}

.size-chart {
    font-size: 15px;
    color: #ff3e6c;
    padding-left: 20px;
}

title {
    color: #282c3f;
    padding: 0 20px 0 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
}

.size {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px 8px;
    border: 1px solid gray;

}

.small-size:hover {
    border: 1px solid red;
}

.add-btn {
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    color: white;
    padding: 9px 0px;
    width: 298px;
    margin-top: 20px;
}

.add-bag {
    margin-left: 10px;
    font-size: 18px;
    padding-right: 65px;
}

.fa-bag-shopping .icon {
    margin-left: 20px;
}

.wish {
    font-size: 16px;
    padding-right: 25px;
}

.wishlist-btn {
    width: 180px;
    border: 1px solid rgb(221, 219, 219);
    background-color: white;
    margin-top: 20px;
}

.wishlist-btn:hover {
    border: 1px solid rgb(49, 48, 48);
}

.delivery-option {
    font-size: 14px;
}

.input-box {
    width: 355px;
}

span .check {
    padding: 5px 0px;
    margin-top: 10px;
    padding-right: 20px;
}

.pincode-box input,
button {
    border: none;
    background-color: white;
}

.pincode-box button {
    font-size: 14px;
}

span.price {
    font-size: 24px;
    font-weight: 600;
}

.del {
    font-size: 20px;
    font-weight: 400;
    margin-left: 17px;
    margin-top: 4px;
}

.discount {
    font-size: 19px;
    font-weight: 400;
    margin-left: 17px;
    margin-top: 6px;
}

.smallest {
    font-size: 11px;
}

.common {
    background-color: grey;
    ;
}

.best-offers {
    font-size: 17px;
}

.best-price {
    font-size: 14px;
}

.best-price-list {
    padding-left: 30px;
}

b.hello {
    color: black;
    font-size: 17px;
}

.emi-option {
    font-size: 16px;
}

.emi {
    font-weight: 500;
}

.product {
    font-weight: 600;
}

.feature {
    font-weight: 600;
    font-size: 14px;
}

.fit {
    font-weight: 600;
}

.care {
    font-weight: 600;
}

.plan {
    color: #ff3e6c;
}

.plan {
    font-size: 14px;
    font: bold;
    font-weight: 600;
}

h6 {
    font-size: 17px;
}

.coupon-code {
    color: grey;
}

.eligible {
    color: #ff3e6c;
}

p.h6 {
    color: #ff3e6c;
}

.seemore {
    border-bottom: 1px solid grey;
}

.rating-review {
    font-size: 30px;
}

.progress-bar {
    background-color: none !important;
    background-color: rgb(0, 164, 180) !important;
}

img.photo1 {
    width: 63px;
}

img.photo2 {
    width: 64px;
}

img.photo3 {
    width: 69px;
}

img.photo4 {
    width: 67px;
}

img.photo5 {
    width: 91px;
    margin-top: 14px;
    margin-bottom: 15px;
    margin-left: 33px;
}

.spec {
    font-size: 17px;
    font-weight: 600;
}

.cust-liked {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}

.description {
    font-size: 16px;
    line-height: 20px;
}

.myntra {
    margin-left: 28px;
    font-weight: 300;
    font-size: 14px;
}

.likes {
    margin-left: 186px;
    margin-right: 18px;
}

img.photo6 {
    width: 100px;
    margin-left: 37px;
}

span.cust-name {
    margin-left: 30px;
    font-weight: 300;
    font-size: 14px;
}

img.photo7 {
    width: 100px;
    margin-left: 20px;
}

img.photo8 {
    width: 100px;
    margin-left: 20px;
}

img.photo9 {
    width: 100px;
    margin-left: 20px;
}

p .view-all {
    font-size: 14px;
    color: #ff3e6c;
}

p.product-code {
    font-size: 16px;
    font-weight: 300;
}

b.code {
    font-size: 17px;
}

b.omni {
    font-size: 16px;
    color: #ff3e6c;
}

p.view-supplier {
    font-size: 14px;
    font-weight: 700;
}

p.seller {
    font-weight: 300;
}

img.image1 {
    width: 212px;
}

img.image2 {
    width: 213px;
}

img.image3 {
    width: 213px;
}

img.image4 {
    width: 200px;
}

img.image5 {
    width: 200px;
}

img.image6 {
    width: 200px;
}

.button1 {
    border-radius: 20px;
    border: 1px solid gray;
    margin-left: 26%;
    margin-top: 40px;
    color: #ff3e6c;
    font-weight: 500;
}

.button2 {
    border-radius: 20px;
    margin-left: 22px;
    border: 1px solid gray;
    margin-top: 40px;
    color: #ff3e6c;
    font-weight: 500;
}

.button3 {
    border-radius: 20px;
    margin-left: 20px;
    border: 1px solid gray;
    margin-top: 40px;
    color: #ff3e6c;
    font-weight: 500;
}

.button1:hover {
    border: 1px solid red;
    color: #ff3e6c;
}

.button2:hover {
    border: 1px solid red;
    color: #ff3e6c;
}

.button3:hover {
    border: 1px solid red;
    color: #ff3e6c;
}

.links3 {
    border: 1px solid red;
}

.footer-row {
    display: flex;
    flex-direction: row;
}

.navlinks {
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.navlinks:hover {
    border-bottom: 3px solid red;
    position: relative;
    z-index: 2;
    transition-delay: .15s;
}

.navlinks:hover .content {
    visibility: visible;
}

.sup {
    color: #ff3f6c;
}

.search {
    width: 88%;
    padding: 10px;
    text-indent: 30px;
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: rgba(77, 77, 77, 0.05);
    background-image: url("../assets/search.png");
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 10%;
}

.search-icon {
    padding: 12px;
    border-radius: 2px;
    background-color: rgba(77, 77, 77, 0.05);
    border: none;
}

.search:focus {
    outline: none;
    border: none;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.1)
}

.footer-row {
    display: flex;
    flex-direction: row;
}

.fa-google-play {
    font-size: 25px;
    margin-top: 10px;
    padding-right: 0px;
}

.footer-links a {
    color: rgb(129, 126, 126);
}

.new-button {
    color: white;
    background-color: red;
    font-size: 10px;
    border-radius: 25px;
    border: 1px solid red;
}

.play-store-button {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
    padding: 0px 15px;
}

.smaller-text {
    font-size: 7px;
    margin-top: 8px;
    letter-spacing: 1px;
}

.fa-apple {
    font-size: 25px;
    margin-top: 10px;
    padding-right: 1px;
}

.social-media-icons i {
    margin-right: 5px;
    font-size: 17px;
    font-size: 25px;
}

.hovermen {
    /* display: none; */
    visibility: hidden;
    position: fixed;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0px 0px 4px grey;
    left: 169px;
    z-index: 1;
}

.men1:hover .hovermen {
    /* display: flex !important; */
    /* flex-wrap: wrap !important; */
    visibility: visible;
}

.hoverwomen {
    visibility: hidden;
    position: fixed;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0px 0px 4px grey;
    left: 200px;
    z-index: 1;
}

img.star2 {
    width: 15px;
}

p img {
    width: 350px;
    margin-left: 80px;
}
.hoverstudio {
    visibility: hidden;
    position: fixed;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0px 0px 4px grey;
    left: 400px;
    z-index: 1;
    width: 600px;
}
.studio:hover .hoverstudio {
    /* display: flex !important; */
    /* flex-wrap: wrap !important; */
    visibility: visible;
}
.women:hover .hoverwomen {
    visibility: visible;
}

.hoverkid {
    visibility: hidden;
    position: fixed;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0px 0px 4px grey;
    left: 200px;
    z-index: 1;
}

.studio-images {
    position: absolute;
    top: 99%;
    left: 30%;
    display: none;
    width: 45%;
    border: none;
    background-color: white;
}

.studio-area:hover .studio-images {
    display: block;
}

.studio-photo {
    width: 90%;
}

.studio-text {
    font-size: 22px;
}

.kid:hover .hoverkid {
    visibility: visible;
}

.hoverhome {
    visibility: hidden;
    position: fixed;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0px 0px 4px grey;
    left: 300px;
    z-index: 1;
}

.home:hover .hoverhome {
    visibility: visible;
}
.hoverbeauty {
    visibility: hidden;
    position: fixed;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0px 0px 4px grey;
    left: 200px;
    z-index: 1;
}
.beauty:hover .hoverbeauty {
    visibility: visible;
}

.rating-star {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
}
.rating-review {
    margin-top: 22px;
    font-size: 48px;
}

img {
    width: 25px;
}

.buyers {
    font-size: 14px;
    margin-top: 9px;
}

.customer {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}

span .img {
    font-size: 10px;
}

.fit-size {
    font-size: 14px;
}

progress#file6 {
    font-size: 11px;
}

.expected {
    font-size: 14px;
    font-weight: 500;
}

.length {
    font-size: 12px;
}

.view-details {
    margin-top: 14px;
    color: #ff3e6c;
    font-weight: 700;
}

progress#file7 {
    font-size: 11px;
}

.asexpected {
    font-size: 14px;
    font-weight: 600;
}

.feedback {
    margin-top: 50px;
}

progress#file {
    font-size: 10px;
}

.num {
    font-size: 12px;
}

progress#file2 {
    font-size: 10px;
}

progress#file3 {
    font-size: 10px;
}

progress#file4 {
    font-size: 10px;
}

progress#file5 {
    font-size: 10px;
}

img.star1 {
    width: 14px;
}

img.star3 {
    width: 14px;
}

img.star4 {
    width: 14px;
}

img.star5 {
    width: 14px;
}

img.star2 {
    width: 15px;
}

span.digit {
    font-size: 12px;
}

.customer-pic {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

img.photo1 {
    width: 68px;
    margin-right: 8px;
}

img.photo2 {
    width: 68px;
    margin-right: 10px;
}

img.photo4 {
    width: 69px;
}

img.photo3 {
    width: 70px;
}

.customer-reviews {
    margin-top: 24px;
    margin-bottom: 17px;
    font-weight: 600;
}

img.star2 {
    width: 33px;
}

img.photo5 {
    width: 91px;
    margin-top: 14px;
    margin-bottom: 15px;
}

.content1 {
    /* margin-left: 124px; */
    font-weight: 300;
    font-size: 15px;
}

span.content3 {
    /* margin-left: 33%; */
}

span.content2 {
    /* margin-left: 120px; */
    font-weight: 300;
}

img .original {
    width: 20%;
}

img .googleplay {
    width: 200px;
}

.contact {
    font-size: 16px;
    color: blue;
}

.online-shopping {
    font-weight: 500;
    margin-left: -13px;
}

.original {
    width: 30px;
    height: 30px;
}

.see {
    font-weight: 400;
    font-size: 12px;
}

b.rupee {
    font-size: 14px;
    margin-left: 1px;
    top: 10px;
}

.popular {
    margin-left: 123px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}