	*{
	font-family: Arial, Helvetica, sans-serif;
	}
body {
	margin:0;
	padding:0;
	}

.top-nav{
	padding-top: 10px;
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
	width:100%;
	}
.menu-bar {
	width:3%;
	float:left;
	margin-left: 30px;
	margin-top:15px;
	}
.gmail-icon {
	width:10%;
	float:left;
	}
.search-bar {
	width: 48%;
	float: left;
	border-radius:6px;
	border:1px none #cdcfd1;
	background-color:#e6eaed ;
	}
.fa-magnifying-glass{
	padding-left: 30px;
	width: 20px;
	}
.input-box{
	width:72%;
	height:40px;
	text-align:left;
	margin-top:3px;
	padding-left:30px;
	outline: none;
	border: none;
	background-color:#e6eaed ;
	}
.input-box:focus{
	outline:none;
	background-color:#e6eaed ;
	}
.fa-sliders {
	padding-left:10px;
	}
.support {
	width:3%;
	float:right;
	margin-top: 10px;
	font-size: 20px;
	}
.settings {
	width:3%;
	float:right;
	margin-top: 10px;
	font-size: 20px;
	}

.google-apps {
	width:3%;
	float:right;
	margin-top: 10px;
	font-size: 20px;
	}
.account {
	float:right;
	margin-top: 8px;
	border: 1px solid black;
	font-size: 16px;
	background-color: rgb(194, 25, 143);
	padding: 4px 8px;
	border-radius: 50%;
	color: white;
	}
	.account1 {
		float:left;
		margin-top: 8px;
		border: 1px solid black;
		font-size: 16px;
		background-color: rgb(194, 25, 143);
		padding: 4px 8px;
		border-radius: 50%;
		color: white;
		}

.clear {
	clear:both;
	}

.SideBar p{
	display: flex;
	width:20;
	float:left;
	}
.compose-btn {
	padding-top: 10px;
	}
.button {
	display: flex;
	width:145px;
	box-shadow: 2px 2px lightgray;
	height:48px;
	border-color:gray;
	border-radius:30px;
	background-color:white;
	} 
.compose-btn .fa-plus{
	color: red;
	font-size: 16px;
	padding: 15px
	}
.compose-text {
	margin-top:13px;
	}
.list-items {
  	padding-left:40px;
  	margin-top:20px;
   	border-bottom:1px solid lightgray;
  	width:160px;
   	color:grey;
   	font-size:15px;
 	}
 .meet {
   	margin-top:20px;
   	padding-left:40px;
   	border-bottom:1px solid lightgray;
   	width:150px;
   	color:grey;
   	font-size:14.5px;
	 }
 .hangout {
	padding-left: 40px;
	font-size:15px;
	color:grey;
 	}
.name {
	margin-top:30px;
	margin-left:30px;
	}
.plus1 {
	margin-left:40px;
	}

.SideBar {
	width:15%;
	float:left;
	}
.main-body{
	float:left;
	width:80%;  
	}
.main-middle {
	padding:10px;
	
	}
.main-right {
	width:5%;
    	float:left;
	}
.clear1 {
	clear:both;
	}
.left-icons {
	float:left;
	}
.left-icons i {
	padding-left:10px;
	}
.right-icons {
	font-size:12px;
	float:right;
	display:flex;
	}
.right-icons i {
	font-size:10px;
	padding-left:15px;
	padding-bottom:20px;
	}
.middle-nav {
	border-bottom:1px solid grey;
    padding: 12px 12px 30px 10px;
	}
.maillist {
	background-color:white ;
	}
	
.section {
	display: flex;
	align-items: center;
	border-bottom-width: 2px;
	padding: 0px;
	min-width: 220px;
	cursor: pointer;
	color: grey;
	border-width:0;
	font-family:Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.main2 {
	top:0;
	display:flex;
	background-color:white;
	border-bottom:1px solid whitesmoke;
	
       }
.selected {
	background-color:transparent;
	border-width:3px;
	color:red;
	border-bottom:2px solid red;
	}
.section:hover {
	background-color:whitesmoke;
	border-width:3px;
      }
.section h4 {
	font-size:14px;
	margin-left:15px;
     }
.row-options {
	width:20%;
	float:left;
	align-items:center;
     }
.row-options i {
	margin-left:10px;
	margin-right:10px;
     }

.email-row {
	display:flex;
	align-items:center;
	height:50px;
	border-bottom:1px solid white;
	cursor:pointer;
	z-index:999;
     }
.email-row:hover {
	border-top:1px solid whitesmoke;
	box-shadow:0 7px 7px rgba(0,0,0,0.24);	
	background-color: #f2f2f2;
     }

.fa-star{
    color:gray;
    }

.message {
	width:50%;
	margin-left:0px;
	float:left;
	flex:0;
	padding-right:0px;
	align-items:center;
	font-size:14px;
    }
.message h4 {
	white-space:nowrap;
     	overflow:hidden;
	margin-left:0px;
    }
.title {
	width:20%;
	font-size:13px;
	float:left;
	}
.time{
	width:10%;
	float:left;
	margin-left: 400px;
	padding-left: 0px;
     }
.description {
	color:grey;
	font-weight:400px;
	}

  .fa-calendar
     {
    font-size: 18px;
	color:blue;
     }
.fa-lightbulb {
	font-size: 18px;
	color:yellow;
	}
.fa-circle-check {
	font-size: 18px;
	color:blue;
	}
.fa-circle-user {
	font-size: 18px;
	color:blue;
	}
.fa-minus {
	font-size: 18px;
	}
.main-right i {
	padding:15px;
	float:right;
     }

	