* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.top-container {
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.main-container {
    margin-left: 5%;
    height: 600px;
    width: 90%;
    display: flex;
    flex-direction: row;
}

#sub-container1 {
    flex: 2%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

#sub-container2 {
    flex: 98%;
}

.height {
    height: 30px;
}

.content {
    width: 100%;
    margin-left: 15px;
}

.background {
    background-color: #e1ecf4;
    border-left: 2px solid #699ecc;
    font-size: 8px;
    padding-left: 2px;
}

/* * {
    margin: 0;

}

body {}

.time {
    font-size: 10px;
    opacity: 0.5;
    color:grey;
}

.firstline {

    margin-left: 20px;
    margin-top: -1px;
    padding: 0px 0px;
}


.firstcomp {
    float: left;
    margin-left: 71px;
}

.secondcomp {
    float: left;
    border-left: 2px solid #699ecc;
    background-color: #e1ecf4;
    padding: 6px 426px;
    font-size: 7px;
    /* margin-left: 0px; */
/* position: relative;
    margin-top: 5px;
}

.exercise {
    margin-left: -426px;
    opacity: 0.65;
    position: absolute;
    top: -1px;
}

.firstlinespan {
    margin-left: 37px;
    opacity: 0.6;
    font-size: 12px;
}


.heading {
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 20px;
}

.tale {
    float: left;
    border-top: 1px solid black;
} */



.hr {
    margin-left: 92px;
    margin-right: 226px;
    opacity: 0.4;
    margin-top: 11px;
    margin-bottom: -6px;
}

.secondline {
    margin-top: 8px;
}

.secondfirstcomp {
    float: left;
    margin-left: 119px;
}

.secondsecondcomp {
    float: left;
    position: relative;
    background-color: #e1ecf4;
    padding: 10px 232px;
    border-left: 2px solid #699ecc;
    left: 2px;
}

.secondthirdcomp {
    float: left;
    position: absolute;
    float: left;
    position: relative;
    background-color: #e1ecf4;
    padding: 10px 194px;
    border-left: 2px solid #699ecc;
    left: 2px px;
    top: -4px;

}

.traveltowork {
    font-size: 7px;
    position: absolute;
    left: 1px;
    top: 0px;
    opacity: 0.8;
}

.planningday {
    font-size: 7px;
    position: absolute;
    left: 1px;
    top: 0px;
    opacity: 0.6;
}

.secondlinespan {
    margin-left: 7px;
    opacity: 0.6;
    font-size: 12px;
    position: relative;
    top: -8px;

}

/* *
{
    box-sizing: border-box;
}
body
{
    padding:0;
    margin:0;
    font-family:sans-serif;
}
.top-container
{
    margin-left:3%;
    margin-top:1%;
}
.main-container
{
    margin-left:5%;
    height:600px;
    width:93%;
    border:1px solid black;
    display: flex;
    flex-direction:row;
}
#sub-container1
{
    flex:2%;
    display: flex;
    flex-direction:column;
    font-size:12px; 
}
#sub-container2
{
    flex:98%;   
}
.bg-color
{
    background-color: #b4cee4;
    font-size:11px;
} */













/* * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.top-container {
   
    margin: 0 auto;
    margin-top: 20px;
}
.main-container{
    height:600px;
    border:1px solid red;
    width: 82%;
    margin-left:11%;
}
.bg-color{
    background-color: #e1ecf4;
}

.time {
    font-size: 12px;
    font-weight: 500;
    color: grey;
}

.schedule {
    font-size: 16px;
    font-weight: 600;
}

.time-schedule {
    margin-left:8%;
    border-bottom: 1px solid #e9e5e5;
    padding-bottom: 11px;
}
  */