<!DOCTYPE html>
<html lang="en">
 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gunter Zochbauer</title>
    <script src="js/icons.js"></script>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/responsive_style.css" rel="stylesheet"/>
    
 </head>
 <body>
    <header>
         <div class="logo">
            <img src="image/logo.png" alt="logo-imge" >
         </div>
         <div class="products">
            <button>Products</button>
         </div>
         <div class="search-bar">
            <form>
               <input type="search" name="search" placeholder="user:217408" />
            </form>
         </div>
         <div class="profile-logo">
            <img src="image/priyanka.png" id="img"alt="profile-image" >
            <span class="prof-num">
                1
            </span>
         </div>
         <div class="inbox">
            <i class="fa-solid fa-inbox"></i>
         </div>
         <div class="achievements">
            <i class="fa-solid fa-trophy"></i>
         </div>
         <div class="help">
            <i class="fa-solid fa-circle-question"></i>
         </div>
         <div class="list">
            <i class="fa-solid fa-list"></i>
         </div>
         <div class="empty"></div>
     </header>
     <div class="container">
         <div class="side-bar">
            <nav>
               <ul>
                  <li>Home</li>
                  <li>PUBLIC</li>
                  <li><i class="fa-solid fa-earth-asia"></i>Questions
                     <ul>
                        <li>Tags</li>
                        <div class="user">Users</div>
                     </ul>
                  </li>
                  <li>COLLECTIVES<i class="fa-solid fa-circle-info"></i></li>
                  <li><i class="fa-solid fa-bahai"></i>Explore Collectives</li>
                  <li>FIND A JOB
                     <ul>
                        <li>Job</li>
                        <li>Companies</li>
                     </ul>
                  </li>
                  <li>TEAMS<i class="fa-solid fa-circle-info"></i></li>
                  <li><i class="fa-solid fa-briefcase"></i>Create free team</li>
               </ul>
            </nav>
        </div>
        <div class="main-body">
            <div class="profile-photo">
               <div class="profile-details">
                     <div class="photo">
                      <img src="image/profile-photo.jpg" alt="profile-photo" width="128" height="128">
                     </div>
                     <div class="details">
                        <div class="name">
                           Günter Zöchbauer
                        </div>
                        <div class="education">
                            BSc.
                        </div>
                        <div class="location">
                           Member for 12 years, 4 months 
                           <span class="last-seen"> <i class="fa-regular fa-clock"></i>Last seen this week
                           </span>
                        </div>
                        <div class="location">
                           <i class="fa-brands fa-twitter"></i>
                           <i class="fa-brands fa-github"></i>
                           <i class="fa-solid fa-location-dot"></i>
                            Linz, Austria 
                        </div>
                     </div>
               </div>
               <div class="profile-btn">
                  <button>Profiles <i class="fa-solid fa-caret-down"></i></button>
               </div>
            </div>
            <div class="btn-group">
                  <button class="profile-btn-group">Profile</button>
                  <button class="activity-btn">Activity</button>
            </div>
            <div class="content">
               <div class="stats-communities">
                     <span class="heading">
                        Stats
                     </span>
                  <div class="status">
                     <div class="stats-content">
                        <div class="stats-answers">
                              <div class="value">546,812<br>
                                 <span class="small">
                                    reputation
                                 </span> 
                              </div>
                              <div class="value">9,318 <br>
                                 <span class="small">
                                    answers
                                 </span>
                              </div>
                         </div>
                           <div class="stats-questions">
                              <div class="value">75.1m<br>
                                 <span class="small">
                                    reputation
                                 </span>
                              </div>
                              <div class="value">
                                 93<br>
                                 <span class="small">
                                    questions
                                 </span>
                              </div>
                           </div>
                     </div>
                     <br>
                     <div class="top-percent">
                           <i class="fa-solid fa-trophy"></i><br>
                           <span  class="small" >
                              top<b> 0.01% </b>
                              this quarter
                           </span> 
                     </div>
                  </div>
               <br>
               <div class="community-section">
                  <span class="heading">
                     communities
                  </span>
                  <span class="view-all">
                     View all 
                     <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  </span>
               </div>
               <br>
               <div class="clear">
               </div>
               <div class="communities">
                  <div>
                     <span class="community-sub">
                        <i class="fa-brands fa-stack-overflow"></i>
                        Stack Overflow
                     </span>
                     <span class="count">
                        544.9k
                     </span>
                  </div>
                  <div>
                     <span class="community-sub">
                        <i class="fa-regular fa-user"></i>
                        Super User
                     </span>
                     <span class="count">
                        692
                     </span>
                  </div>
                  <div>
                     <span class="community-sub">
                        <i class="fa-regular fa-message"></i>
                        Meta Stack Exchange
                     </span>
                     <span class="count">
                        181
                     </span>
                  </div>
                  <div>
                     <span class="community-sub">
                        <i class="fa-regular fa-square"></i>
                        Area 51
                     </span>
                     <span class="count">
                        151
                     </span>
                  </div>
                  <div>
                     <span class="community-sub">
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                        Personal Finance & Money
                     </span>
                     <span class="count">143</span>
                  </div>
               </div>
            </div>
            <div class="about">
                  <span class="heading">
                     About
                  </span>
                  <div class="twitter-link">
                     <span>google+ Profil:<a href="#">https://twitter.com/gzoechi</a>
                     </span> 
                  </div>
                  <ul>
                     <li>I'm an enthusiastic and experienced
                           <ul>
                              <li>software engineer</li>
                              <li>software architect</li>
                              <li>developer</li>
                              <li>consultant</li>
                              <li><b>looking for clients/projects</b>
                                 <ul>
                                       <li class="second-last">I focus on <b>custom line of business applications </b>with Dart, Flutter, Angular (mobile, browser, server)</li>
                                 </ul>
                              </li>
                           </ul>
                     </li>
                     <li class="last-list">I have also a lot of experience with</li>
                     <li class="final-list">Typescript</li>
                  </ul>
                  <div class="read-more-btn">
                        <button>Read more</button>
                  </div>
                  <div class="badges">
                     <div class="heading badges-heading" >
                        Badges
                     </div>
                     <div class="view-all-badges  view-all">
                        View all badges
                  </div>
                  </div>
                  <div class="badges-block">
                     <div class="gold-badges">
                           <div class="row1">
                              <img src="image/badge1.png" alt="Badge1">
                              <div class="badges-count">
                                 <span class="gold-badges-count">
                                    185<br>
                                </span>
                                 <span class="gold-badges-title">
                                     Gold badges
                                 </span>
                              </div>
                           </div>
                           <div class="row2">
                              <button> <i class="fa-solid fa-circle gold"></i>angular2-routing</button>
                              <span>
                                 Jun 7, 2017
                              </span>
                           </div>
                           <div class="row2">
                              <button> <i class="fa-solid fa-circle gold"></i>angular2-template</button>
                              <span>
                                 Jul 29, 2017
                              </span>
                           </div>
                           <div class="row2">
                              <button> <i class="fa-solid fa-circle gold"></i>angular2-directives</button>
                              <span> 
                                 May 13, 2019
                              </span>
                        </div>
                     </div>
                     <div class="gold-badges">
                           <div class="row1">
                              <img src="image/badge2.png" alt="Badge2">
                              <div class="badges-count">
                                 <span class="gold-badges-count">
                                    1,882<br>
                                 </span>
                                 <span class="gold-badges-title"> 
                                    silver badges
                                 </span>
                              </div>
                           </div>
                           <div class="row2">
                              <button> <i class="fa-solid fa-circle silver"></i>Components</button>
                              <span> 
                                 Jun 17, 2018
                              </span>
                           </div>
                           <div class="row2">
                              <button> <i class="fa-solid fa-circle silver"></i>ngfor</button>
                              <span> 
                                 Mar 23, 2019
                              </span>
                           </div>
                           <div class="row2">
                              <button> <i class="fa-solid fa-circle silver"></i>dart-pub</button>
                              <span> 
                                 Jul 9, 2019
                              </span>
                        </div> 
                     </div>
                     <div class="gold-badges">
                           <div class="row1">
                              <img src="image/badge3.png" alt="Badge3">
                              <div class="badges-count">
                                 <span class="gold-badges-count">
                                    1,489<br>
                                 </span>
                                 <span class="gold-badges-title">
                                    bronze badges
                                 </span>
                              </div>
                           </div>
                           <div class="row2">
                              <button> <i class="fa-solid fa-circle bronze"></i>dart-editor</button>
                              <span> 
                                 Mar 22, 2020
                              </span>
                           </div>
                           <div class="row2">
                              <button> <i class="fa-solid fa-circle bronze"></i>angular2-ngmodel</button>
                              <span>
                                 Jun 14, 2019
                              </span>
                           </div>
                           <div class="row2">
                              <button> <i class="fa-solid fa-circle bronze"></i>angular-templates</button>
                              <span> 
                                 May 10, 2019
                              </span>
                           </div>
                     </div>
                  </div>
                  <div class="badges">
                     <div class="heading badges-heading" >
                        Top tags
                     </div>
                     <div class="view-all-badges view-all">
                        View all tags 
                     </div>
                  </div>  
                  <div class="top-tags">
                     <div class="layer">
                        <span>
                           <button>angular</button>
                           <i class="fa-solid fa-circle"></i>
                        </span>
                        <span class="score">
                           <span class="score-count">
                              59,008
                           </span>
                           <span class="score-title">
                               score
                              </span> 
                           <span class="score-count">
                              5,576
                           </span>
                           <span class="score-title">
                              posts
                           </span> 
                           <span class="score-count">
                              59
                           </span>
                           <span class="score-title">
                              post%
                           </span> 
                        </span>
                        <div class="clear">
                        </div>
                     </div>
                     <div class="layer">
                        <span>
                           <button>dart</button>
                           <i class="fa-solid fa-circle"></i>
                        </span>
                        <span class="score">
                           <span class="score-count">
                              18,525
                           </span>
                           <span class="score-title">
                               score
                           </span> 
                           <span class="score-count">
                              3,312
                           </span>
                           <span class="score-title">
                              posts
                           </span> 
                           <span class="score-count">
                              35
                           </span>
                           <span class="score-title">
                              post%
                           </span> 
                        </span>      
                     </div>
                     <div class="layer">
                        <span>
                           <button>Typescript</button>
                           <i class="fa-solid fa-circle"></i>
                        </span>
                        <span class="score">
                           <span class="score-count">
                              13,237
                           </span>
                           <span class="score-title">
                               score
                           </span> 
                           <span class="score-count">
                              1300
                           </span>
                           <span class="score-title">
                              posts
                           </span> 
                           <span class="score-count">
                              14
                           </span>
                           <span class="score-title">
                              post%
                           </span> 
                        </span>                     
                     </div>
                     <div class="layer">
                        <span>
                           <button>flutter</button>
                           <i class="fa-solid fa-circle"></i>
                        </span>
                        <span class="score">
                           <span class="score-count">
                              12,082
                           </span>
                           <span class="score-title">
                               score
                              </span> 
                           <span class="score-count">
                              907
                           </span>
                           <span class="score-title">
                              posts
                           </span> 
                           <span class="score-count">
                              10
                           </span>
                           <span class="score-title">
                              post%
                           </span> 
                        </span>                     
                     </div>
                     <div class="layer">
                        <span>
                           <button>javascript</button>
                           <i class="fa-solid fa-circle"></i>
                        </span>
                        <span class="score">
                           <span class="score-count">
                              8,648
                           </span>
                           <span class="score-title"> 
                              score
                           </span> 
                           <span class="score-count">
                              1,088
                           </span>
                           <span class="score-title">
                              posts
                           </span> 
                           <span class="score-count">
                              12
                           </span>
                           <span class="score-title">
                              post%
                           </span> 
                        </span>                     
                     </div>
                     <div class="layer">
                        <span>
                           <button>angular2-routing</button>
                           <i class="fa-solid fa-circle"></i>
                        </span>
                        <span class="score">
                           <span class="score-count">
                              3,893
                           </span>
                           <span class="score-title"> 
                              score
                           </span> 
                           <span class="score-count">
                              426
                           </span>
                           <span class="score-title">
                              posts
                           </span> 
                           <span class="score-count">
                              5
                           </span>
                           <span class="score-title">
                              post%
                           </span> 
                        </span>                     
                  </div>
               </div>
               <div class="top-posts">
                     <div class="top-posts-title">
                        <div class="heading">
                           Top posts
                        </div>
                        <div class="sub-heading">
                           View all
                           <span class="sub-heading-color"> 
                              questions
                           </span>
                           <span class="sub-heading-color">
                               answers
                              </span> and
                           <span class="sub-heading-color">
                               articles
                           </span>
                        </div>
                     </div>
                     <div class="side-table">
                        <table class="table1">
                              <tr>
                                 <td class="active">All</td>
                                 <td>Questions</td>
                                 <td>Answers</td>
                                 <td>Articles</td>
                              </tr>
                           </table>
                           <table class="table2">
                              <tr>
                                 <td class="active">Score</td>
                                 <td>Newset</td>
                              </tr>
                        </table>
                     </div>
                  </div>
                  <div class="top-post-block">
                     <div class="layer top-layer">
                        <i class="fa-solid fa-message" ></i>
                        <span class="year">
                           1897
                        </span>
                        <span class="questions">
                           What is the difference between Promises and Observables?
                        </span>
                        <span class="date"> 
                           May 21, 2016
                        </span>                     
                     </div>
                     <div class="layer top-layer">
                        <i class="fa-solid fa-message "></i>
                        <span class="year">
                           1167
                        </span>
                        <span class="questions">
                           How can I select an element in a component template?
                        </span>
                        <span class="date">
                           Feb 4, 2016
                        </span>                     
                     </div>
                     <div class="layer top-layer">
                        <i class="fa-solid fa-message"></i>
                        <span class="year">
                           1146
                        </span>
                        <span class="questions">
                           What is the equivalent of ngShow and ngHide in Angular 2+?
                        </span>
                        <span class="date">
                           Feb 23, 2016
                        </span>                     
                     </div>
                     <div class="layer top-layer">
                        <i class="fa-solid fa-message" ></i>
                        <span class="year">
                           885
                        </span>
                        <span class="questions">
                           Binding select element to object in Angular
                        </span>
                        <span class="date"> 
                           Mar 11, 2016
                        </span>                     
                     </div>
                     <div class="layer top-layer">
                        <i class="fa-solid fa-message" ></i>
                        <span class="year">
                           825
                        </span>
                        <span class="questions">
                           *ngIf and *ngFor on same element causing error
                        </span>
                        <span class="date"> 
                           Sep 19, 2016
                        </span>                    
                     </div>
                     <div class="layer top-layer">
                        <i class="fa-solid fa-message" ></i>
                        <span class="year">
                           725
                        </span>
                        <span class="questions">
                           How to add conditional attribute in Angular 2?
                        </span>
                        <span class="date">
                           Apr 20, 2016
                        </span>                     
                     </div>
                     <div class="layer top-layer">
                        <i class="fa-solid fa-message" ></i>
                        <span class="year">
                           685
                        </span>
                        <span class="questions">
                           Angular window resize event
                        </span>
                        <span class="date"> 
                           Feb 20, 2016
                        </span>                    
                     </div>
                     <div class="layer top-layer">
                        <i class="fa-solid fa-message" ></i>
                        <span class="year">
                           603
                        </span>
                        <span class="questions">
                           What is the difference between declarations, providers, and import in NgModule?
                        </span>
                        <span class="date"> 
                           Aug 21, 2016
                        </span>                     
                     </div>
                     <div class="layer top-layer">
                        <i class="fa-solid fa-message"></i>
                        <span class="year">
                           572
                        </span>
                        <span class="questions">
                           How can I write data attributes using Angular?
                        </span>
                        <span class="date"> 
                           Dec 31, 2015
                        </span>                     
                     </div>
                     <div class="layer top-layer">
                        <i class="fa-solid fa-message" ></i>
                        <span class="year">
                           519
                        </span>
                        <span class="questions">
                           How to pass query parameters with a routerLink
                        </span>
                        <span class="date">
                           Jun 17, 2016
                        </span>                     
                     </div>
                  </div>
                  <div class="top-meta-posts">
                     <span class="heading" >
                        Top Meta Posts
                     </span>
                     <span class="right-side">
                     <i class="fa-regular fa-message" id="meta-post1"></i><sub>7</sub>
                     <i class="fa-regular fa-message" id="meta-post2"></i><sub>0</sub>
                     </span>
                     <div class="clear">
                     </div>
                  </div>
                  <div class="top-meta-post-block">
                     <div class="layer">
                        <i class="fa-brands fa-stack-overflow"></i>
                        <span class="number two-digit">
                           98
                        </span>
                        <span class="top-meta-details">
                           Code snippets are Pest
                        </span>
                     </div>
                     <div class="layer">
                        <i class="fa-brands fa-stack-overflow"></i>
                        <span class="number">
                           9
                        </span>
                        <span class="top-meta-details">
                           Search always switches to "relevance" tab
                        </span>
                     </div>
                     <div class="layer">
                        <i class="fa-brands fa-stack-overflow"></i>
                        <span class="number">
                           6
                        </span>
                        <span class="top-meta-details">
                           Layout issue in tags filter field in new UI
                        </span>
                     </div>
                     <div class="layer">
                        <i class="fa-brands fa-stack-overflow"></i>
                        <span class="number">
                           3
                        </span>
                        <span class="top-meta-details">
                           Find questions that are marked as duplicate
                        </span>
                     </div>
                     <div class="layer">
                        <i class="fa-brands fa-stack-overflow"></i>
                        <span class="number">
                           3
                        </span>
                        <span class="top-meta-details">
                           Lots of problems with the editing filter area
                        </span>
                     </div>
                  </div>
                  <div class="top-network-posts">
                        <span class="heading">
                           Top network post
                        </span>
                        <span class="side-title">
                           View all network post
                        </span>
                  </div>
                  <div class="top-meta-post-block">
                     <div class="layer">
                        <span class="number two-digit">
                           56
                        </span>
                        <span class="top-meta-details">
                           How to make a symlinked folder appear as a normal folder
                        </span>
                     </div>
                     <div class="layer">
                        <span class="number">
                           5
                        </span>
                        <span class="top-meta-details">
                           How can I export transactions from GnuCash including references to associated files
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
     </div>
     <footer>
        <div class="footer-logo">
          <i class="fa-brands fa-stack-overflow"></i>
        </div>
        <div class="link1">
          <ul>
               <li class="footer-title"><b>STACK OVERFLOW</b></li>
               <li>Questions</li>
               <li>Jobs</li>
               <li>Developer job directory</li>
               <li>help</li>
          </ul>
        </div>
        <div class="link1">
            <ul>
               <li class="footer-title"><b>PRODUCTS</b></li>
               <li>Teams</li>
               <li>Talents</li>
               <li>Advertising</li>
               <li>enterprise</li>
            </ul>
        </div>
        <div class="link1">
            <ul>
               <li class="footer-title"><b> COMPANY</b></li>
               <li> About</li>
               <li>Press</li>
               <li> Work Here</li>
               <li> Legal</li>  
               <li>Privacy Policy</li>   
               <li>Terms of Service</li>   
               <li>Contact Us</li>
               <li>Cookie Settings</li>
               <li>Cookie Policy</li>
            </ul>
        </div>
        <div class="link1">
           <ul>
               <li class="footer-title"><b>STACK EXCHANGE NETWORK</b></li>
               <li> Technology</li>
               <li>Culture and recreation</li>
               <li>lifes & arts</li>
               <li> Science</li>  
               <li>Professional</li>   
               <li>Business</li>   
               <li>API</li>
               <li>Data</li>
           </ul>
        </div>
        <div>
           <div class="link2">
               <ul>
                  <li>Blog</li>
                  <li>Facebook</li>
                  <li>twitter</li>
                  <li>LinkedIn</li>
                  <li>Instagram</li>
              </ul>
           </div>
           <div class="footer-description">site design / logo © 2022 Stack Exchange Inc; user contributions<br>
          licensed under cc by-sa. rev 2022.3.18.41718</div>
        </div>
    </footer>
  </body>
</html>