*{
    box-sizing: border-box;
}
body{
   font-family:sans-serif;
}
.main-container {
    width:800px;
    margin:0 auto;
    margin-top:40px;
}
ul{
   list-style-type: none;
}
a{
    text-decoration:none;
}
.tab-navigation  li {
    display:inline-block;
    border:1px solid grey;
    border-bottom:none;
    border-radius:15px 15px 0px 0px;
    padding:20px 55px;
    background-color: rgb(245, 241, 241);
}
.content{
    padding-left:50px;
    display:none;
    padding: 40px 0 0 40px;
    padding-top:10px; 
}
.tab-navigation{
    padding: 0;
    margin-bottom:0;
}
.tab-navigation li{
    display: inline-block;
    margin-right:12px;
}
.tab-navigation li:hover {
   background-color: rgb(108, 224, 108);
}
p{
   display:none;
  
}
.text {
    color:grey;
    opacity:0.9;
}
.active {
   display:block;
}
.tab-menu {
    width:94%;
    height:200px;
    border:1px solid gray;
    border-top:4px solid  rgb(14, 169, 207);
}
.heading {
    font-size:22px;
    font-weight:bolder;
    margin-left:40%;
    margin-bottom:10px;
}
.image {
    width: 161px;
    height: 143px;
    margin-top: -21px;
    float: left;
    clear: both;
    border-radius: 10px;
    margin-right: 18px;
}