* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-container {
    width: 82%;
    margin: 0 auto;
    margin-top: 20px;
}
.head{
    margin-left: 3%;
    /* margin-top: 3%; */
    padding: 8px;
    font-size: 14px;
    width: 80%;
   
    font-family:Arial, Helvetica, sans-serif;
}
.small-font-1{
    font-size: 12px;
    margin-top: 5px;   
}
.width-border{
    width: 80%;
    margin-left: 10%;
}
.time-start {
    font-size: 12px;
    font-weight: 500;
    color: grey;
}

.font-size {
    font-size: 12px;
    margin-left: 20px;
}

.code-review {
    width: 94%;
    display: flex;
    flex-direction: row;
}

.sub-code-review {
    width: 94%;
    background-color: #e1ecf4;
    font-size: 10px;
    padding: 5px;
    border-left: 3px solid #699ecc;
}

.schedule {
    font-size: 16px;
    font-weight: 600;
}

.heading {
    border-bottom: 1px solid #e9e5e5;
    padding-bottom: 11px;
}

.exercise-time {
    border-left: 3px solid #699ecc;
    margin-left: 48px;
    margin-right: 71px;
    background-color: #e1ecf4;
}

.flex {
    border-bottom: 1px solid #e9e5e5;
    display: flex;
    padding-bottom: 37px;
}

.plan-container {
    display: flex;
    width: 50%;
}

.plan-day {
    display: flex;
    margin-top: 18px;
    border-left: 3px solid #699ecc;
    margin-left: 48px;
    margin-right: 71px;
    background-color: #e1ecf4;
}

.review-container {
    border-bottom: 1px solid;
    border-left: 3px solid #699ecc;
    margin-left: 48px;
    margin-right: 71px;
    background-color: #e1ecf4;
}

.travel-container {
    margin-bottom: 10px;
    width: 50%;
}

.text2 {
    font-size: 10px;
    padding-bottom: 19px;
}

.text3 {
    font-size: 11px;
}

.text4 {
    border-left: 3px solid #699ecc;
    font-size: 11px;
    padding-bottom: 6px;
}

.follow-container {
    display: flex;
    border-bottom: 1px solid #e9e5e5;
}

.follow-up-block {
    border-left: 3px solid #699ecc;
    background-color: #e1ecf4;
    width: 50%;
    margin-left: 7px;
    height: 50px;
    margin-top: 7px;
    font-size: 10px;
}

.follow-up-blocks {
    margin-top: 10px;
    border-left: 3px solid #699ecc;
    background-color: #e1ecf4;
    width: 50%;
    height: 56px;
    margin-left: 7px;
    font-size: 10px;
}

.skype-container {
    width: 50%;
}

.skype-call {
    width: 84%;
    border-left: 3px solid #699ecc;
    background-color: #e1ecf4;
    padding: 7px;
    font-size: 10px;
    padding-bottom: 14px;
}

.skype-calls {
    border-left: 3px solid #699ecc;
    background-color: #e1ecf4;
    padding: 5px;
    margin-top: 5px;
}

.skype-callss {
    border-left: 3px solid #699ecc;
    background-color: #e1ecf4;
    padding: 5px;
    margin-top: 5px;
    width: 84%;
    font-size: 10px;
}

.push-up {
    width: 83%;
    margin-top: 11px;
    border-left: 3px solid #699ecc;
    background-color: #e1ecf4;
    padding: 10px;
    font-size: 10px;
}

.push-ups {
    margin-top: 11px;
    background-color: #e1ecf4;
    padding: 7px;
    height: 15px;
    width: 84%;
}

span.time1 {
    position: absolute;
    font-size: 13px;
    color: grey;
}

span.time2 {
    position: absolute;
    margin-left: 23px;
    font-size: 12px;
    color: grey;
}

span.time3 {
    position: absolute;
    margin-left: 23px;
    font-size: 12px;
    color: grey;
}

span.text {
    font-size: 8px;
}

.code-container1 {
    margin-bottom: 15px;
    margin-top: 18px;
    margin-left: 48px;
    margin-right: 71px;
    background-color: #e1ecf4;
    border-bottom: 1px solid #e9e5e5;
}

.color {
    color: grey;
    opacity: 0.2;
}

.review-container1 {
    margin-bottom: 15px;
    margin-top: 18px;
    margin-left: 48px;
    margin-right: 71px;
    background-color: #e1ecf4;
    border-bottom: 1px solid #e1ecf4;
}

span.time4 {
    position: absolute;
    margin-left: -22px;
    font-size: 10px;
}

.section-container {
    border: 1px solid red;
}

span.time1 {
    position: absolute;
    margin-left: -29px;
}

.lunch {
    width: 90%;
    border-left: 3px solid #699ecc;
    background-color: #e1ecf4;
    margin-left: 5px;
    margin-right: 69px;
    height: 111px;
    font-size: 10px;
}

.block {
    border-bottom: 1px solid #e1ecf4;
}

.first {
    margin-top: 14px;
    font-size: 11px;
    margin-left: 19px;
    margin-bottom: 3px;
}

.second {
    font-size: 9px;
    margin-left: 21px;
}

.time-section {
    border-bottom: 1px solid #e9e5e5;
}

.time-section1 {
    background-color: #e1ecf4;
    border-left: 3px solid #699ecc;
    border-bottom: 1px solid #e9e5e5;
}

.third {
    font-size: 11px;
    margin-left: 17px;
    margin-top: 1px;
}

.fourth {
    font-size: 10px;
    margin-left: 18px;
    margin-top: 3px;
}

.content-section {
    border-left: 3px solid #699ecc;
    margin-left: 48px;
    margin-right: 71px;
    background-color: #e1ecf4;
}

.vertical-space {
    margin-top: 17px;
}

.commits {
    margin-top: 25px;
}
.border-top{
    border-top: 1px solid #e7ecf3;
    padding-top: 0px;
}
#opacity{
    opacity: 0.5;
    color: red;
    font-size: 10px;
}
.small-font {
    color:grey;
    font-size: 10px;
    padding-top: 0;
    padding-left: 0;
}
.small-font-1{
    font-size: 12px;
    margin-top: 5px;  
}
.fs-8{
    font-size: 8px;
    opacity: 0.5;
}

.time{
    position: absolute;
    width: 100%;
    height: 600px;
    z-index: -1;
}
.schedule{
    position: absolute;
    width: 96%;
    right: 0%;
    height: 600px;
}

.schedule-item{
    font-size: 9px;
    position: absolute;
    width: 100%;
    border-left: 3px solid #699ecc;
    background-color: #e1ecf4;
    color: black;
    
}
.body{
    position: relative;
    width: 100%;
    height: 600px;
}

.spaceMe{
    height: 30px;
}
.bg
{
    background-color: #e1ecf4;
    border-left: 2px solid #699ecc;
    font-size: 8px;
    width:40%;
    padding-left: 2px;
}