*
{
    box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
    width:100%;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}
header{
    height:70px;
    border-style:solid none solid none;
    border-color: #cdcfd1 ;
    border-width:1px;
    display: flex;
    margin-top:5px;
    padding:2px;
}
header i{
   
    
    padding:15px;
}
.search-bar
{
    position:relative;
    margin-left:160px;
}
#input-box
{
    width:700px;
    height:50px;
    text-align:left;
    margin-top:3px;
    border-radius:6px;
    border:1px none #cdcfd1;
    background-color:#e6eaed ;
}
.header {
    display:flex;
    align-items:center;
}


#input-box:focus{
    outline:1px solid #cdcfd1 ;
    background-color: white;
}
#input-box::placeholder
{
    padding-left:60px;
    font-size:15px;
}
.btn-group
{
    position: relative;
}
.btn
{
    padding: 12px;
    margin:6px 9px 5px 12px;
    border:1px solid #e6eaed ;
    background-color: white;
    border-radius:20px;
    width:120px;
    font-size: 14px;
}


.row1
{
    padding:20px;
    border-style:none;
    border-bottom:1px solid #d4d6d5;
    display:flex;
    background-color: #e8edea;
}
.sub-row1
{
    padding:5px 2px 2px 30px;
   
    width:400px;
    margin-left:50px;
}
.fa-star
{
    color:gray;
    margin-left:6px;
}
.from
{
    margin-left:0px;
    font-size:15px;  
    width:150px;
}
.heading
{
   
    font-size:14px;
}
.description
{
    color:gray;
    font-size:14px;
}
.date
{
    margin-left:15px;
    color:gray;
    font-size:11px;

}
.sub-div3
{
    margin:24px 20px;
}
.fa-calendar,.fa-lightbulb,.fa-circle-check,.fa-circle-user,.fa-minus
{
    font-size: 18px;
}
.meet
{
  float:left;
  align-items:left;
  padding:15px;
}
.main2 ul li {
display:inline;
padding:50px;
}

.main2 {

margin-top:-300px;
flex:10%;
border:1px solid black;
}
.mainbody {
display:flex;
}

.left{
flex:10%;
}



